<% if @reviews.blank? %>
	<h3>No reviews yet. Be the first one to write one!</h3>
	<%= render 'review_form' %>
<% else  %>
	<div class="card-section new-review-placeholder">
		<div><div class="profile-pic" style="width: 60px;height:60px;border-radius:150px;background:#CCC;display:inline-block;"></div><div class="rating-write" style="display:inline-block;height:60px;line-height:60px;vertical-align:top;margin:0px 20px;"></div><span style="height:60px;line-height:65px;vertical-align:top;font-size:16px;font-weight:600;">Select your rating.</span></div>
	</div>
	<div class="review-list card-section">
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-3">All Reviews (<%= @reviews.count %>)</th>
					<th class="col-md-9"></th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td>
							<h4><%= "#{review.user.email}" %></h4>
							<p><%= review.created_at.strftime('%-m/%-d/%-y') %></p>
						</td>
						<td>
							<div>
								<div class="rating-readonly" data-score=<%= review.rating %> ></div>
							</div>
							
							<br>
							<br>
							<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
							<% if user_signed_in? %>
								<% if (review.user == current_user) || (current_user.admin?) %>
									<%= link_to 'Edit', edit_product_review_path(@product, review) %>
									<%= link_to 'Delete', product_review_path(@product, review), method: :delete %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= render 'review_form' %>
<% end %>