<h3>Used <%= @product.name %> for a project? Leave your comments and help others out:</h3>

<%= form_for([@product, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>      
    </div>
  <% end %>
  <div class="jumbotron new-review-container">
    <div>Easy to master: <div class="rating-write__ease"></div>(learning curve?)</div>
    <br>
    <div>Creates fast: <div class="rating-write__speed"></div>(how fast does this tool do what you want?)</div>
    <br>
    <div class="form-group new-review-form">
      <%= f.text_area :comment, rows: '6', class: "form-control", id: "html", placeholder: 'Your review helps fellow developers learn more about this tool. How well it works and how much success you’ve had with it.' %>
    </div>
    <div>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>