<div class ="jumbotron">
  <h2>HackATools is the best way to find reviews on development tools.</h2>
  <h3>Explore the favorite tools, frameworks and products in the software development world.
  <br>Leave reviews and ratings for your fellow hackers.</h3>
</div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="item__logo">
          <%= image_tag product.image_url %>
        </div>
        <div class="caption">
          <h3><%= product.name%></h3>
          <div class="star-rating" data-score=<%= product.avg_rating %> ></div>
          <p><%= "#{product.reviews.length} reviews" %></p>
          <p><a href=<%= product_path(product) %> class="btn btn-primary" role="button">View</a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/hackatools/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>