<div class="container-fluid">
	<% @products.each do |product| %>
	  <a href=<%= product_path(product) %> class="item"><div class="item__logo"><%= image_tag product.image_url %></div><h4><%= product.name %></h4><div class="stars-container"><div class="star-rating" data-score=<%= product.avg_rating %> ></div> <span><%= "#{product.reviews.length} reviews" %></span></div></a>
	<% end %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/hackatools/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>