<div class="product-hdr">
	<a href=<%= @product.website %> class="item">
		<div class="item__logo">
			<%= image_tag @product.image_url %>
		</div>
	</a>
	<% if user_signed_in? && current_user.admin? %>
		<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-link product-edit' %>
	<% end %>
	
	<p class="product__description"><%= @product.description %></p>
	<div class="col-md-6">
		Ease to master: 
		<div class="rating-readonly" data-score= <%= @ease_rating %> ></div>
	</div>
	<div class="col-md-6">
		Creates fast: 
		<div class="rating-readonly" data-score= <%= @speed_rating %> ></div>
	</div>
	<div class="product-rating">
		<!-- Overall Rating:  -->
		<!-- <div class="rating-readonly" data-score= <%= @avg_rating %> ></div> -->
		   <%= "#{@reviews.length} total reviews" %>
	</div>
	<div class="tags-container">
		<% @tags.each do |tag| %>
			<a href=<%= "/products/tag/#{CGI.escape tag}" %> class="tag"><%= tag %></a>
		<% end %>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<%= render 'review_list' %>
		</div>

		<div class="col-md-4">
			<%= render 'similar_products' %>
		</div>
	</div>
</div>


<script>
	$('.rating-readonly').raty({
		path: 'https://s3.amazonaws.com/hackatools/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	$('.rating-write__ease').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    scoreName: 'review[ease_of_use_rating]'
  });
  $('.review-rating').raty({
		path: 'https://s3.amazonaws.com/hackatools/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
  $('.rating-write__speed').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    scoreName: 'review[speed_of_dev_rating]'
  });
</script>
