<div class="product-hdr">
	<a href=<%= @product.website %> class="item">
		<div class="item__logo">
			<%= image_tag @product.image_url %>
		</div>
	</a>
	
	<p class="product__description"><%= @product.description %></p>
	<div class="col-md-6">
		Ease of becoming master at <%= @product.name %>: 
		<div class="rating-readonly" data-score= <%= @ease_rating %> ></div>
	</div>
	<div class="col-md-6">
		Speed for producing awesomeness: 
		<div class="rating-readonly" data-score= <%= @speed_rating %> ></div>
	</div>
	<div class="product-rating">
		Overall Rating: 
		<div class="rating-readonly" data-score= <%= @avg_rating %> ></div>
		   <%= "#{@reviews.length} reviews" %>
	</div>
</div>

<div class="container-fluid">
<div class="row hidden">
	<%= link_to "Write Review", new_product_review_path(@product), class: "btn btn-primary" %>
	<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-link' %> |
	<%= link_to 'Back', products_path, class: 'btn btn-link' %>
</div>

<!-- <div class="row">
<h2>Similar/Alternatives</h2>
</div>

<div class="row">
<h2>Works best with</h2>
</div>

<div class="row">
<h2>Learn <%= @product.name %></h2>
</div> -->

<div class="row">
	<% if @reviews.blank? %>
		<h3>No reviews yet. Be the first one to write one!</h3>
		<%= render 'review_form' %>
	<% else  %>
		<%= render 'review_form' %>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-3"></th>
					<th class="col-md-9"></th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td>
							<h4><%= "#{review.user.email}" %></h4>
							<p><%= review.created_at.strftime('%-m/%-d/%-y') %></p>
						</td>
						<td>
							<div class="rating-type">
								Easy to master: 
								<div class="rating-readonly" data-score=<%= review.ease_of_use_rating %> ></div>
							</div>
							<div class="rating-type">
								Speed of development: 
								<div class="rating-readonly" data-score=<%= review.speed_of_dev_rating %> ></div>
							</div>
							<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
							<% if user_signed_in? %>
								<% if (review.user == current_user) || (current_user.admin?) %>
									<%= link_to 'Edit', edit_product_review_path(@product, review) %>
									<%= link_to 'Delete', product_review_path(@product, review), method: :delete %>
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>


<script>
	$('.rating-readonly').raty({
		path: 'https://s3.amazonaws.com/hackatools/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	$('.rating-write__ease').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    scoreName: 'review[ease_of_use_rating]'
  });
  $('.rating-write__speed').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    scoreName: 'review[speed_of_dev_rating]'
  });
</script>
